<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PinkPartyDrinks</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @foreach (string drink in Drinks)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@drink.ToLower().Replace(" ","").Replace("'","").Replace(".","")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @drink
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string[] Drinks = {
        "Matterhorn",
        "Prince's Dock",
        "The Lady",
        "Cusco Club",
        "Japanese Slipper",
        "Basil Smash",
        "Juliet Romeo",
        "Italian Margarita",
        "Devil's Margarita",
        "Disco Pink",
        "Espresso Martini",
        "Succar Martini",
        "Garden Delight",
        "No. 2",
        "Pina Colada",
        "London Cosmo",
        "Glitter Dream",
        "Blue Lagoon",
        "Raspberry Bliss",
        "Cherry Bomb",
        "Pink Dragon",
        "Green Light"
    };
}

