@page "/"

<PageTitle>@PageTitle</PageTitle>


<!-- HTML markup with additional CSS classes for image sizing -->
<div class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img class="img-fluid max-width-100" src="img/invite.png" alt="Party Invitation">
        </div>
    </div>
</div>


@code {
    private string PageTitle = "Bondi to Arq";
}