<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🏖️ Bondi to Arq 💊</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🏠</span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gin" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🥃</span> Gin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tequila" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🍸</span> Tequila
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vodka" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🍶</span> Vodka
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beerwine" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🍷</span> Beer &amp; Wine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="other" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🍹</span> Other
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="houserules" style="color: black;">
                <span aria-hidden="true" class="emoji-span">🏠</span>&nbsp;House Rules
            </NavLink>
        </div>
        

        @* @for (int i = 0; i < (Drinks.Length / 2); i++)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Drinks[i, 0].ToLower().Replace(" ","").Replace("'","").Replace(".","")" style="color: black;">
                    <span aria-hidden="true">@Drinks[i, 1]</span> @Drinks[i, 0]
                </NavLink>
            </div>
        } *@

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string[,] Drinks = new string[,]
    {
        { "Gin", "🥃" },
        { "Tequila", "🍸" },
        { "Vodka", "🍶" },
        { "Other", "🍹" },
        { "House Rules", "🏠" },
    };
}
