@page "/houserules"

<PageTitle>@PageTitle</PageTitle>

<div class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">@PageTitle</h1>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8 justify-content-center p-center">
           <p>We are here to have a fucking awesome night, so here are some tips❗</p>
           <p>Any questions❓ Just ask❗</p>
           <p>You know we love you</p>
           <p>❤️🧡💛💚💙💜🖤🤍🤎</p>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <tbody>
                    @foreach (var rule in Rules)
                    {
                        <tr>
                            <td class="text-center">@rule</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private string PageTitle = "House Rules";

    private string[] Rules = new string[]
    {
        "🍹 Bar person to make all cocktails",
        "😎 Don't be high maintenance",
        "🥂 Beer, wine, water is in the fridge",
        "⚠️ Don't annoy Lady Meow",
        "🚽 Leave toilet door open when free",
        "🎉 Eat, live, laugh, drink, dance",
        "🚑 If you break a glass, leave it",
        "⏰ Everyone get out at 11pm",
        "💃 See you at Arq"
    };
}